<!doctype html>
<html lang="en">
<head>
    <%- include('../layouts/head'); %>

    <title>Registration - <%= post.title %></title>
</head>

<!--Individual Registrations-->
<body class="bg-light">
<%- include('../layouts/navbar', {active: 'posts'}); %>

<main>
    <section>
        <div class="container py-4 py-md-5">
            <hr>
            <h1 class="font-slab">
                <%= post.title %>
            </h1>
            <h4 class="mb-4">
                <%= post.childFirstName %> <%= post.childLastName %>
            </h4>

            <button class="btn btn-primary mb-3 me-2" data-bs-toggle="modal" data-bs-target="#editModal">
                <i class="fas fa-pencil-alt"></i>
                Edit Registration
            </button>
            <button class="btn btn-danger mb-3" data-bs-toggle="modal" data-bs-target="#deleteModal">
                <i class="fas fa-trash"></i>
                Delete Registration
            </button>
            <br>
            <p>
                <b>Parent Name: </b><%= post.author.firstName %> <%= post.author.lastName %>
            </p>
            <p>
                <b>Parent Email: </b><a href="mailto:<%= post.author.email %>"><%= post.author.email %></a>
            </p>
            <p>
                <b>Child Name: </b><%= post.childFirstName %> <%= post.childLastName %>
            </p>
            <p>
                <b>Child DOB: </b><%= post.childDOB.getMonth()%>/<%= post.childDOB.getDate()%>/<%= post.childDOB.getFullYear()%> 
            </p>
            <p>
                <b>Child Gender: </b><%= post.childGender %>
            </p>
            <p>
                <b>Child Shirt Size: </b><%= post.childShirtSize %>
            </p>
            <p>
                <b>Registeration Date: </b><%= post.createdAt.toDateString() %>
            </p>
        </div>
    </section>
</main>

<!-- Edit Modal -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Edit Post</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="createForm" method="post" action="/posts/<%= post._id %>?_method=PUT"
                      enctype="multipart/form-data">                   
                    <div class="mb-3">
                        <label for="createInputChildFName" class="form-label">Child First Name</label>
                        <input type="text" class="form-control" id="createInputChildFName" name="childFirstName" value="<%= post.childFirstName %>" required>
                    </div>
                    <div class="mb-3">
                        <label for="createInputChildLName" class="form-label">Child Last Name</label>
                        <input type="text" class="form-control" id="createInputChildLName" name="childLastName" value="<%= post.childLastName %>" required>
                    </div>
                    <div class="mb-3">
                        <label for="createInputChildDOB" class="form-label">Child Date of Birth</label>
                        <input type="date" class="form-control" id="createInputChildDOB" name="childDOB" value="<%= post.childDOB.getFullYear() %>-<%= post.childDOB.getMonth() %>-<%= post.childDOB.getDate() %>" required>
                    </div>
                    <div class="mb-3">
                        <label for="createGender" class="form-label">Child Gender</label>
                        <select class="form-control" id="createGender" name="childGender" default="<%= post.childGender %>" required>
                            <option value="Boy">Boy</option>
                            <option value="Girl">Girl</option>
                        </select>
                    </div>  
                    <div class="mb-3">
                        <label for="createShirtSize" class="form-label">Child Shirt Size</label>
                        <select class="form-control" id="createShirtSize" name="childShirtSize" default="<%= post.childShirtSize %>" required>
                            <option value="Extra Small">Extra Small</option>
                            <option value="Small">Small</option>
                            <option value="Medium">Medium</option>
                            <option value="Large">Large</option>
                            <option value="Extra Large">Extra Large</option>
                        </select>
                    </div>  
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success" form="createForm">Submit</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Delete Post</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete the registration? All of its contents will be permanently lost.
            </div>
            <div class="modal-footer">
                <a class="btn btn-danger" href="/posts/<%= post._id %>?_method=DELETE">I understand, delete this post</a>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<%- include('../layouts/footer'); %>

<!-- Bundled JS: Bootstrap, jQuery, Lodash -->
<script src="/scripts/bundle.js"></script>

<!-- Page Initialization Utilities -->
<script src="/scripts/util.js">
</script>

<!-- Custom JavaScript -->
<script>
    shortPageFooter();
</script>
</body>
</html>